@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,400;1,200;1,400&display=swap');

/HEADER/



header {
    background-color: #ad0236;

}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f7f1e5;
}

.logo {
    color: #f7f1e5;
    text-decoration: none;
    border: 2px solid #f7f1e5;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    width: 50px;
    height: 60px;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch; /* Para que el ancho se ajuste al 100% */
    }
    
    nav {
        margin-top: 10px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 5px 0;
    }
}
/ACÁ TERMINAR EL HEADER/

/ACÁ EMPIEZA EL MAIN/

.hero{
    background-color: #f7f1e5;
    display: flex;
    flex-direction: row;
}


/*si uso inline solo no puedo darle ni alto ni ancho  */

.principal{

    border: 2px solid #333;
    display: flex;

}

.caballito{

    height: 250px;
    width: 350px;
}

/ACÁ TERMINA EL MAIN/

/ACÁ EMPIEZA EL CARDS/

.cards {
    text-align: center;
    background-color: #F0ECE3;
    padding: 50px 15px;
}

.card__body img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card__body {
    display: inline-block;
    width: 30%;
    text-align: left;
    margin: 10px;
    background-color: #eeee;
    position: relative;
}

.new{
    background-color: #CC9544;
    padding: 5px;
    color: #eee;
    position: absolute;
    top: 10px;
    right: -5px;
}
.card_body h2, .card_body p{
    padding: 10px;
}






form div{

    padding: 5px;
}

.formulario{

    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

  


}


section div{

    border:3px solid #333;

}


.caballito {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  img {
    max-width: 100vw;
  }
}
}

.cards {
  text-align: center;
  background-color: #f0ece3;
  padding: 50px 15px;
}

.card__body img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card__body {
  display: inline-block;
  width: 30%;
  text-align: left;
  margin: 10px;
  background-color: #eeee;
  position: relative;
}

.new {
  background-color: #cc9544;
  padding: 5px;
  color: #eee;
  position: absolute;
  top: 10px;
  right: -5px;
}

.card__body h2,
.card__body p {
  padding: 10px;
}

.mix {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}

.main img {
  height: 80px;
  width: 80px;
}

form div {
  padding: 5px;
}

.formulario {
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

section div {
  border: 3px solid #333;
}


  
  .logo-container {
    width: 74px;
    height: 84px;
    margin-bottom: 20px;
    color: #F7F1E5;
    text-decoration: none;
    border: 2px solid #F7F1E5;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    top: 10px;
  }
  

  .gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
}

.card__body {
	width: 100%;
}

/footer/


  footer{
    background-color: #ad0236;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-media-container{
    margin-bottom: 20px;
  }
  
  .social-media-title{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .social-media-icons{
    display: flex;
    justify-content: center;
  }
  
  .social-media-icons img{
    max-width: 30px;
    margin: 0 10px;
  }
  
  .credit-container{
    text-align: left;
    font-size: 14px;
  }

  h6 {

    border-top: #333 solid 2px;

  }